{% extends 'index_base.html' %}
{% load static %}
{% block mymeta %}
<meta name="keywords" content="景色" />
<meta name="description" content="景色" />
{% endblock %}
{% block article %}

     <div class="row">
        <form method="get" action="/" class="form-horizontal" style="margin-left: 2%;margin-right: 5%">
            <div class="input-group">
                <input type="text" class="form-control" name="key">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">搜索</button> </span>
            </div>
        </form>

    {% for article in article_list %}
        <div class="col-md-4">
            <div class="file-box">
                            <div class="file">
                                <a href="/article_detail?id={{ article.id }}">
                                    <span class="corner"></span>

                                    <div class="image" style="height: 150px">
                                        <img alt="image" class="img-responsive" src="/media/{{ article.showimg }}" height="150px" style="height: 200px;width: 100%">
                                    </div>
                                    <div class="file-name">
                                        {{ article.title | slice:"12" }}
                                        <br>
                                        <small>{{ article.atype.name }}--点赞{{ article.zan_count }}次--收藏{{ article.shou_count }}次</small>
                                    </div>
                                    </a>
                                    <div class="widget-text-box">
                                        <h4 class="media-heading">{{ article.public_date | date }}</h4>
                                        <p>发布人：{{ article.user.username }}</p>
                                        <div class="text-right">
                                            <button class="btn btn-xs btn-primary" onclick="shoucang({{ article.id }})"><i class="fa fa-heart"></i> 收藏</button>
                                            <button class="btn btn-xs btn-primary" onclick="dianzan({{ article.id }})"><i class="fa fa-heart"></i> 点赞</button>
                                        </div>
                                    </div>


                            </div>
                        </div>
        </div>
    {% endfor %}

    <!--下一页-->
    {% include 'pagination.html' %}
    </div>
    <script>
    function shoucang(wid) {
            var csrf = "{{ csrf_token  }}"
            layer.confirm('确认收藏吗，收藏后请去收藏列表查看！', {
              btn: ['确认','取消'] //按钮
            }, function(){
                $.ajax({
                      type: 'POST',
                      url: '/add_collect',
                      data: JSON.stringify({"id":wid, "csrfmiddlewaretoken":csrf}),
                      dataType: "json",
                      contentType: 'application/json;charset=utf-8',
                      success: function(data) {
                        if(data.status == "0"){
                             layer.msg("收藏成功!", {time: 1000}, function (data) {

                             })
                        }else{
                            //服务器删除失败，提示错误信息，刷新页面
                            layer.msg(data.data)
                        }
                      },
                      error: function(xhr) {
                            //中间发生异常，查看xhr.responseText
                          layer.msg("失败")
                      }
                    });
            });

        }

    function dianzan(wid) {
            $.ajax({
                      type: 'POST',
                      url: '/add_zan',
                      data: JSON.stringify({"id":wid}),
                      dataType: "json",
                      contentType: 'application/json;charset=utf-8',
                      success: function(data) {
                        if(data.status == "0"){
                             layer.msg("点赞成功!", {time: 1000}, function (data) {

                             })
                        }else{
                            //服务器删除失败，提示错误信息，刷新页面
                            layer.msg(data.data)
                        }
                      },
                      error: function(xhr) {
                            //中间发生异常，查看xhr.responseText
                          layer.msg("失败")
                      }
                    });

        }
    </script>
{% endblock %}