{% extends 'index_base.html' %}
{% load static %}
{% block mymeta %}
<meta name="keywords" content="我的收藏" />
<meta name="description" content="我的收藏" />
{% endblock %}
{% block article %}
    <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>我的收藏</h5>
                    </div>
                    <div class="ibox-content">

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>类别</th>
                                    <th>标题</th>
                                    <th>发布时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for co in colls %}
                                    <tr id="{{ co.id }}">
                                        <td>{{ co.ebook.atype.name }}</td>
                                        <td><a href="/article_detail?id={{ co.ebook.id }}">{{ co.ebook.title }}</a></td>
                                        <td>{{ co.ebook.updated | date }}</td>
                                        <td><button class="btn btn-info" onclick="delete1({{ co.id }})">取消收藏</button></td>
                                    </tr>
                                {% endfor %}

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
<script>
    function delete1(wid) {
            var csrf = "{{ csrf_token  }}"
            layer.confirm('确认取消收藏吗？', {
              btn: ['确认','取消'] //按钮
            }, function(){
                $.ajax({
                      type: 'POST',
                      url: '/delete_collect',
                      data: JSON.stringify({"id":wid, "csrfmiddlewaretoken":csrf}),
                      dataType: "json",
                      contentType: 'application/json;charset=utf-8',
                      success: function(data) {
                        if(data.status == "0"){
                            $("#"+wid).remove();
                            layer.closeAll()

                        }else{
                            //服务器删除失败，提示错误信息，刷新页面
                            layer.msg(data.data)
                        }
                      },
                      error: function(xhr) {
                            //中间发生异常，查看xhr.responseText
                          layer.msg("失败")
                      }

                    });
            });

        }
</script>
{% endblock %}