{% extends 'index_base.html' %}
{% load static %}
{% block mymeta %}
<meta name="keywords" content="我的个人信息" />
<meta name="description" content="我的个人信息" />
{% endblock %}
{% block article %}
    <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>修改 <small>我的信息</small></h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-6 b-r">
                                <h3 class="m-t-none m-b">欢迎您</h3>
                                <p>欢迎修改(⊙o⊙)</p>
                                <form role="form" method="post" enctype="multipart/form-data" action="/accounts/my_info">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label>用户名</label>
                                        <input type="text" name="username" placeholder="请输入您的用户名" class="form-control" value="{{ user.username }}">
                                    </div>
{#                                    <div class="form-group">#}
{#                                        <label>类型</label>#}
{#                                        <select class="form-control m-b" name="pet_type">#}
{#                                            <option value="{{ mtype.id }}">{{ mtype.name }}</option>#}
{#                                        </select>#}
{#                                    </div>#}
                                    <div class="form-group">
                                        <label>手机号</label>
                                        <input type="text" name="mobile" placeholder="请输入手机号" class="form-control" value="{{ user.mobile }}">
                                    </div>

                                    <div class="form-group">
                                        <label>头像</label>
                                        <input type="text"  class="form-control" value="{{ user.avatar }}" readonly>
                                        <input type="file" name="avatar" placeholder="请选择图片" class="form-control">
                                    </div>
                                    <div>
                                        <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>修改</strong>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-6">
                                <h4>修改信息后</h4>
                                <p>会更新哦！</p>
                                <p class="text-center">
                                    <i class="fa fa-sign-in big-icon"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    <div class="row">
    <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>我上传的电子书</h5>

                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-5 m-b-xs">
                                <a class="btn btn-sm btn-primary" href="/add_ebook">新增电子书</a>
                            </div>
                            <form action="/accounts/my_info" method="get">
                            <div class="col-sm-7">
                                <div class="input-group">

                                    <input name="key" type="text" placeholder="请输入关键词" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="submit" class="btn btn-sm btn-primary"> 搜索</button> </span>

                                </div>
                            </div>
                                </form>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>

                                        <th>电子书标题</th>
                                        <th>作者</th>
                                        <th>类型</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for ebook in ebooks %}
                                        <tr id="t{{ ebook.id }}">

                                            <td><a href="/article_detail?id={{ ebook.id }}">{{ ebook.title }}</a></td>

                                            <td>{{ ebook.author }}</td>
                                            <td>{{ ebook.atype.name }}</td>
                                            <td>
                                                <a href="/modify_ebook?id={{ ebook.id }}"><button class="btn btn-xs btn-info">修改</button></a>
                                                <button onclick="delete1('{{ ebook.id }}')" class="btn btn-xs btn-info">删除</button>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
    </div>

    <!--下一页-->
    <script>
    function delete1(wid) {
            var csrf = "{{ csrf_token  }}"
            layer.confirm('确认删除吗，删除后无法找回！', {
              btn: ['确认','取消'] //按钮
            }, function(){
                $.ajax({
                      type: 'POST',
                      url: '/delete_ebook',
                      data: JSON.stringify({"id":wid, "csrfmiddlewaretoken":csrf}),
                      dataType: "json",
                      contentType: 'application/json;charset=utf-8',
                      success: function(data) {
                        if(data.status == "0"){
                            $("#t"+wid).remove();
                            layer.closeAll()

                        }else{
                            //服务器删除失败，提示错误信息，刷新页面
                            layer.msg(data.data)
                        }
                      },
                      error: function(xhr) {
                            //中间发生异常，查看xhr.responseText
                          layer.msg("失败")
                      }

                    });
            });

        }
    </script>

{% endblock %}