{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Breadcrumb Area Start -->
    <div class="section breadcrumb-area bg-name-bright">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="breadcrumb-wrapper">
                        <h2 class="breadcrumb-title">Error 404</h2>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li>{{ reason }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End -->


{% endblock %}